<section class="section section-gallery">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="section-gallery__inner">
            
              <h3 class="section-gallery__title shuffle">The Best Moments</h3>
            
            
            <div class="section-gallery__content">
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-1.jpg" alt="Rest" loading="lazy">
              </div>
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-2.jpg" alt="City" loading="lazy">
              </div>
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-3.jpg" alt="Hobby" loading="lazy">
              </div>
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-4.jpg" alt="Car" loading="lazy">
              </div>
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-5.jpg" alt="Hobby" loading="lazy">
              </div>
              
              <div class="section-gallery__image">
                <img src="{{ site.url }}/assets/images/gallery-6.jpg" alt="Lifestyle" loading="lazy">
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>