---
layout: default
---
<main class="content" aria-label="Content">
    <!-- begin hero -->
    {% include hero.html %}
    <!-- end hero -->
    <!-- begin projects -->
    {% include projects.html %}
    <!-- end projects -->
    <!-- begin testimonials -->
    {% include reviews.html %}
    <!-- end testimonials -->
    <!-- begin author -->
    {% include about.html %}
    <!-- end author -->
    <!-- begin section-tags -->
    {% include tags.html %}
    <!-- end section-tags -->
    <!-- begin section-gallery -->
    {% include gallery.html %}
    <!-- end section-gallery -->
</main>
